.routeItem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.routeContainer {
    height: 100px;
    width: 100%;
    gap: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.routeItemText {
    &:hover {
        text-decoration: underline blue;
        cursor: pointer;
        color: blue;
    }
}
