.routeItem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.routeContainer{
    gap: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

