.activityContainer{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.modalContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;

    .contentInput {
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        padding: 10px;
        width: 100%;
    }
}
