.questionnaire-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.questionnaire-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questions {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 16px;
}

.question {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.question-type-selector {
  max-width: 200px;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
}

.form-control{
  display: flex;
  flex-direction: column;
  gap: 8px;
}